.App {
  text-align: center;
  font-family: 'Courier New', monospace;
  width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

.tacos {
  list-style: none;
  padding: 0;
  font-size: 32px;
  margin-bottom: 2em;
}

.locationheader {
  text-transform: uppercase;
}

textarea,
select,
input,
button {
  outline: none;
}

.form {
  display: flex;
  justify-content: center;
}

.form input {
  display: flex;
  border-radius: 5px;
  padding: 15px;
  min-width: 200px;
}
.form button {
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  color: white;
}
