body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 60%;
}

.flex-grid-thirds .colsm {
  width: 20%;
}

@media (max-width: 575px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
  }
  .flex-grid .col,
  .flex-grid-thirds .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
* {
  box-sizing: border-box;
}

.flex-grid {
  margin: 0 0 20px 0;
}

.col {
  /*background: salmon;*/
  padding: 20px;
}
